body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.game-area{
  width: 720px; max-width: 720px; background-color: grey; padding: 70px 50px; margin: auto;
}

.board{
  width: 360px; display: inline-block;
}

.side-bar{
  width: 260px; display: inline-block; float: right;
}

.game-info{
  background-color: white;
}
.flipped {
  background: transparent url(../images/card_bg.gif) !important;
}

.colour1 {
  background: transparent url(../images/colour1.gif); }

.colour2 {
  background: transparent url(../images/colour2.gif); }

.colour3 {
  background: transparent url(../images/colour3.gif); }

.colour4 {
  background: transparent url(../images/colour4.gif); }

.colour5 {
  background: transparent url(../images/colour5.gif); }

.colour6 {
  background: transparent url(../images/colour6.gif); }

.colour7 {
  background: transparent url(../images/colour7.gif); }

.colour8 {
  background: transparent url(../images/colour8.gif); }

.focused {
  border-color: #555555;
  box-shadow: 0px 0px 4px 1px white;
}


.card {
  cursor: pointer;
  margin: 2px;
  border: 3px solid white;
  width: 80px;
  height: 100px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  _display: inline;
  _zoom: 1;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.logo {
  background: transparent url(../images/logo.png);
  height: 80px;
  width:  200px;
}
