<div style="width: 720px; max-width: 720px; background-color: grey; padding: 70px 50px; margin: auto;">
  <div style="width: 260px; display: inline-block; float: right;">
    <div class="logo"></div>
    <div class='game-info' style="background-color: white;">
      <strong>Score</strong>
      <p>3146465</p>
      <p>Only keys are supported</p>
    </div>
    <div>
      <button>Reset</button>
    </div>
  </div>
  <div class='board' style="width: 360px; display: inline-block;"></div>
</div>