<!DOCTYPE html>
<html ng-app="memory_game">
  <head>
  </head>
  <body>
    <div class="loading_page">
      <div class="game-area">
        <img src="/images/logo.png" alt="..." class="img-circle" height="165px" width="165px">
        <a class="btn btn-success btn-lg" href="#load_game"> Play </a>
      </div>
    </div>  
    <div>
      <div ng-view></div>
    </div>
  </body>
</html>  