<!DOCTYPE html>
<html>
<head>
  <title>Memory Game</title>
  <%= stylesheet_link_tag    'application', 'bootstrap', 'memory_game' %>

  <%= javascript_include_tag 'application', 'jquery.min', 'bootstrap', 'memory_game' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
